<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Landing Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
</head>

<body>
    <header class="menu-bar">
        <div id="menu-btn" class="menu-btn">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="menu" class="menu row">
            <div class="main link">
                <a href="">Home</a>
            </div>
            <div class="link">
                <a href="#features">Features</a>
            </div>
            <div class="link">
                <a href="#pricing">Pricing</a>
            </div>
        </div>

        <div class="row">
            <div class="link">
                <a href="">Log in</a>
            </div>
            <div class="link">
                <a class="btn-outline" href="#contact">Contact</a>
            </div>
        </div>
    </header>

    <section class="full-section">
        <div class="big-title">
            <h1><span><span class="red">W</span><span class="green">e</span><span class="orange">l</span><span
                        class="red">c</span></span><span class="green"><img class="inline-img"
                        src="/icons/check-circle-regular.svg"></span><span><span class="orange">m</span><span
                        class="red">e</span></span></h1>
            <p class="title-1">Let me manage your day</p>
            <p class="title-2">Let me improve your life</p>
        </div>
        <div class="centered">
            <div>
                <a class="btn-full" href="">Get Started</a>
            </div>
        </div>
    </section>

    <section id="features" class="mid-section">
        <div class="cards">
            <div class="card top">
                <div class="card-title">
                    <h2 class="card-main-title"><span class="red">Empty your head</span></h2>
                    <p class="card-sub-title">Put down all the things you have to do</p>
                </div>
                <p>List every tasks, things you have / want to do, put every piece of your thoughts that is preocupying.
                </p>
            </div>

            <div class="card bottom">
                <div class="card-title">
                    <h2 class="card-main-title"><span class="green">Clear your vision</span></h2>
                    <p class="card-sub-title">Filter, sort and clear your tasks</p>
                </div>
                <p>You have entire control over the system, with powerful technologies on your hand, you will empower
                    your
                    future.</p>
            </div>

            <div class="card top">
                <div class="card-title">
                    <h2 class="card-main-title"><span class="orange">Make habits yours</span></h2>
                    <p class="card-sub-title">Choose the habits you want, we take care it</p>
                </div>
                <p>Use the reminder system coupled with scientific research
                    to adopt new habits and create a better life for yourself.</p>
            </div>
        </div>
    </section>

    <section id="pricing" class="table-section">
        <div class="table-container">
            <table class="table">
                <tr class="table-row">
                    <th></th>
                    <th class="table-title">Free</th>
                    <th class="table-title">$4.99<span>Best Price</span></th>
                    <th class="table-title">$9.99</th>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 1</td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 2</td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 3</td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 4</td>
                    <td class="check-cell"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 5</td>
                    <td class="check-cell"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 6</td>
                    <td class="check-cell"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 7</td>
                    <td class="check-cell"></td>
                    <td class="check-cell"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr class="table-row">
                    <td class="feature-cell">Feature 8</td>
                    <td class="check-cell"></td>
                    <td class="check-cell"></td>
                    <td class="check-cell"><img src="/icons/check-circle-regular.svg"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="btn-cell">
                        <a href="" class="btn-outline">Start Free</a>
                    </td>
                    <td class="btn-cell">
                        <a href="" class="btn-outline">Get Premium</a>
                    </td>
                    <td class="btn-cell">
                        <a href="" class="btn-outline">Get Ultim</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="contact" class="form-section">
        <h2>Contact us</h2>
        <form class="form" autocomplete="off">
            <div class="form-group">
                <div class="form-split form-input">
                    <label for="">First Name</label>
                    <input type="text" />
                </div>
                <div class="form-split form-input">
                    <label for="">Last Name</label>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-input">
                    <label for="">Email</label>
                    <input type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="form-input">
                    <label for="">Subject</label>
                    <input type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="form-input">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button class="btn-outline">Send</button>
            </div>
        </form>
    </section>

    <footer>
        <div class="footer">

            <div class="footer-aside">
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h3>Follow us</h3>
                        <img src="/icons/chevron-down-solid.svg">
                    </div>
                    <div class="hide">
                        <div class="logo-container">
                            <a href="">
                                <img class="footer-logo" src="/icons/facebook-brands.svg" />
                            </a>
                            <a href="">
                                <img class="footer-logo" src="/icons/instagram-brands.svg" />
                            </a>
                            <a href="">
                                <img class="footer-logo" src="/icons/linkedin-in-brands.svg" />
                            </a>
                            <a href="">
                                <img class="footer-logo" src="/icons/twitter-brands.svg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h3>About us</h3>
                        <img src="/icons/chevron-down-solid.svg">
                    </div>
                    <div class="hide">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt culpa ut atque, ab,
                            doloribus
                            consectetur, odio sunt dicta temporibus iste rem facilis animi. Modi nulla exercitationem,
                            non
                            corporis incidunt sequi.
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-sections">
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h3>Section 1</h3>
                        <img src="/icons/chevron-down-solid.svg">
                    </div>
                    <div class="hide">
                        <a href="">Link 1</a>
                        <a href="">Link 2</a>
                        <a href="">Link 3</a>
                        <a href="">Link 4</a>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h3>Section 2</h3>
                        <img src="/icons/chevron-down-solid.svg">
                    </div>
                    <div class="hide">
                        <a href="">Link 1</a>
                        <a href="">Link 2</a>
                        <a href="">Link 3</a>
                        <a href="">Link 4</a>
                        <a href="">Link 5</a>
                        <a href="">Link 6</a>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-title">
                        <h3>Section 3</h3>
                        <img src="/icons/chevron-down-solid.svg">
                    </div>
                    <div class="hide">
                        <a href="">Link 1</a>
                        <a href="">Link 2</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © Sample Landing Page 2020</p>
        </div>
    </footer>
</body>

</html>